/* styles/globals.css */

/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Media Queries */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .header h1 {
    font-size: 22px;
  }

  .header button {
    width: 100%;
    margin-top: 10px;
  }

  .contact {
    margin-bottom: 10px;
  }

  .form {
    padding: 15px;
  }

  .form input {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .button {
    width: 100%;
  }
}
/* styles/globals.css */

/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Media Queries */
@media (max-width: 600px) {

  .header h1 {
    font-size: 22px;
  }

  .header button {
    width: 100%;
    margin-top: 10px;
  }

  .contact {
    margin-bottom: 10px;
  }

  .form {
    padding: 15px;
  }

  .form input {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .button {
    width: 100%;
  }

}

.searchButton:hover{
  background-color: white;
  color:#4A90E2;
}